:root {

    /* css peremennye */
  /* fonts */
  --main-font: Roboto;
  --secondary-font: Raleway;

  /* text colors */
  --accent-color: #2196f3;
  --body-color: #212121;
  /* bg color */
}

body {
  font-family: var(--main-font), sans-serif; /*доминантный шрифт - главный  */
  color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.site-nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}
.accent-header {
  color: #212121;
}




.link-1:hover,
.link-1:focus,
.link-2:hover,
.link-2:focus,
.link-3:hover,
.link-3:focus {
  color: #2196f3;
}

.link-1, 
.link-2, 
.link-3 {
  color: #212121;
}

.info,
.tel-num {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}


.info:hover {
  color: #2196f3;
}

.tel-num:hover {
  color: #2196f3;
}


/*ГЕРОЙ*/

/*Преимущества */

/*ПРИМЕРЫ РАБОТ*/

/*СПИСОК КОМАНДЫ*/

/*FOOTER*/


.address:hover,
.address:focus,
.m-info:hover,
.m-info:focus,
.tel-n:hover,
.tel-n:focus {
  color: #FFFFFF;
}


.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  color: #2196f3;
}

/* Cтили портфолио */

/* Портфолио нав список */

.button1 {
  text-decoration: none;
  cursor: pointer;
}

.button2 {
  color: #212121;
  border: 0px solid #008cba;
  background: #f5f4fa;
  border-radius: 4px;
}

.button2:hover {
  background-color: #2196f3;
  color: white;
}
